/** @define About */

.About {
  padding-top: 4rem;
  min-height: 100vh;
}
@media all and (min-width: 1050px) {
  .About{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

.About.is-enteringFadingForward {
  animation: fade-forward 1s;
  animation-fill-mode: forwards;
}

.About.is-exitingFadingBack {
  animation: fade-back 1s;
  animation-fill-mode: forwards;
}

.About-title {
  padding: 0 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 23px;
  font-weight: bold;
}

.About-frame {
  margin: 0 0.5rem;
  background-color: white;
  border: 1px solid var(--color-border);
}

.About-image {
  width: 100%;
}

.About-content {
  padding: 2rem 1rem;
}