/** @define Banner */

.Banner {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(/_includes/hero.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  perspective-origin: 50% 50%;
  perspective: 1000px;

  transition: opacity 0.5s;

  /* 
    this removes the extra padding given to page 
    container to make room for the mobile header
  */
  margin-bottom: -3rem;
  @media (--md-viewport) {
    margin-bottom: 0;
  }
}

.Banner.is-fadingIn {
  animation: fadeIn 1s;
}

.Banner-inner {
  transform-style: preserve-3d;
  height: 12rem;
  margin: 1rem;
}
