
.Content {
  margin-top: 1rem;


  & p {
    margin-bottom: 1rem;
    line-height: 1.25em;
  }

  & h1,
  & h2 {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: normal;
    border-bottom: 2px solid var(--color-brand);
  }

  & a {
    display: inline-block;
    color: var(--color-black);
    font-weight: 100;
    text-decoration: none;
    border-bottom: 1px dashed var(--color-brand);
  
    &:hover,
    &:active {
      border-style: solid;
    }
  }

  & ul,
  & ol {
    margin-bottom: 1rem;
  }

  & li { 
    text-indent: 0.5rem;
    line-height: 1.25em;
  
    &:before {
      content: "\FFEE";
      margin-right: 0.5rem;
      color: var(--color-brand);
    }
  }

  & hr {
    border: none;
    text-align: center;

    &:before {
      content: '';
      width: 5rem;
      height: 2px;
      display: inline-block;
      background-color: var(--color-brand);
    }
  }

  & pre {
    max-width: 100vw;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
  }
  & pre code {
    display: block;
    padding: 1rem;
    font-family: monospace;
    background-color: var(--color-codeBackground);
    border-top: 1px solid var(--color-border);
    border-bottom: 1px solid var(--color-border);
  }

  & strong {
    font-weight: bold;
  }

  & em {
    font-style: italic;
  }

  & img {
    max-width: 100%;
    padding: 1rem;
  }

  /* jsBin container */
  & .is-jsbinContainer {
    margin-left: -1rem;
    margin-right: -1rem;    

    & iframe {
      border-left: none !important;
      border-right: none !important;
      border-color: var(--color-border) !important;
    }
  }

  /* image container */
  & [imagecount] {
    overflow: hidden;
    margin-left: -1rem;
    margin-right: -1rem;
    background-color: #CCC;
    background: url(http://i.imgur.com/R9HLLLi.png);

    & img {
      width: 100%;
    }
  }

  @media (--md-viewport) {
    
    & [imagecount='3'] {
      & img {
        float: left;
        width: 50%;
      }
    }

  }



}
