/** @define Files */

.Files {
}

.Files-title {
  margin: 4rem 0 1rem 0;
  text-transform: uppercase;
  opacity: 0.3;
  font-weight: bold;
  font-size: 0.75rem;
}

.Files-addButton {
  display: block;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background: transparent;
  border: 1px dashed;
  font-size: 1rem;
  opacity: 0.3;
  outline: none;
  cursor: pointer;
}
