/** @define HomeCard */

.HomeCard {
  width: 100%;
  max-width: 30rem;
  height: 12rem;
  background-color: white;
  padding: 1rem;
  padding-top: 2.5rem;
  text-align: center;
  border-radius: 4px;
}

.HomeCard-name {
  width: 85%;
  margin-bottom: 1.5rem;
}

.HomeCard-masthead {
  opacity: 0;
  animation: show 1s ease-out 3.2s forwards;
  line-height: 1.25rem;
}
@keyframes show {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes show {
  to {
    opacity: 1;
  }
}
