/** @define IndexPage */

.IndexPage {
  padding-top: 4rem;

  @media (--lg-viewport) {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

.IndexPage-title {
  padding: 0 0.5rem;
  font-size: 23px;
  font-weight: bold;
}

.IndexPage-new {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 0 0.5rem;
}

.IndexPage-discription {
  padding: 1rem 0.5rem;
}

.IndexPage-panelContainer {
  display: flex;
  flex-wrap: wrap;
}
