/** @define Link */

.Link {
  display: inline-block;
  color: var(--color-brand);
  text-decoration: none;
  border-bottom: 1px dashed var(--color-brand);

  &:hover,
  &:active {
    border-style: solid;
  }
}
