/** @define Panel */

.Panel {
  display: flex;
  flex: 1 100%;
  padding: 0.5rem;
}

@media all and (min-width: 321px) {
  /* medium width phone */ 
  .Panel--withImage {
    flex: 1 50%;
  }  
  .Panel--half {
    flex: 1 50%;
  }
  .Panel--third {
    flex: 1 50%;
  }
}

@media all and (min-width: 376px) {
  /* large width phone */ 
  .Panel--withImage {
    flex: 1 50%;
  }  
  .Panel--half {
    flex: 1 50%;
  }
  .Panel--third {
    flex: 1 33%;
  }
}

.Panel-link {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  text-decoration: none;
  color: black;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
}
.Panel-link:active {
  background-color: lightgrey;
}
.Panel-image {
  background-color: lightgrey;
  width: 100%;
}
.Panel-copy {
  padding: 1rem;
}
.Panel-title {
  margin: 0;
  font-size: 1rem;
  text-transform: capitalize;
  color: var(--color-brand);
}
.Panel-title:after {
  content: ' /';
  font-weight: 100;
  color: grey;
}
.Panel--withImage .Panel-title {
  display: inline;
}
