/** @define Panel */

.Panel {
  display: flex;
  flex: 1 100%;
  padding: 0.5rem;
}

@media all and (min-width: 375px) {
  /* restricted width (iphone 6 and above) */ 
  .Panel--withImage {
    flex: 1 50%;
  }  
  .Panel--half {
    flex: 1 50%;
  }
  .Panel--third {
    flex: 1 50%;
  }
}

@media all and (min-width: 630px) {
  /* full width */ 
  .Panel--withImage {
    flex: 1 50%;
  }  
  .Panel--half {
    flex: 1 50%;
  }
  .Panel--third {
    flex: 1 33%;
  }
}

.Panel-link {
  display: flex;
  flex: 1 0;
  flex-direction: column;
  text-decoration: none;
  color: black;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 2px;
}
.Panel-link:active {
  border-color: var(--color-brand);
}
.Panel-link:active .Panel-image {
  -webkit-filter: brightness(75%);
}
.Panel-image {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: lightgrey;
  width: 100%;
}
.Panel-copy {
  padding: 1rem;
  line-height: 1.25rem;
}
.Panel-title {
  margin: 0;
  font-size: 1rem;
  text-transform: capitalize;
  margin-bottom: 0.25rem;
  color: var(--color-brand);
}
.Panel-title:after {
  content: ' /';
  font-weight: 100;
  color: grey;
}
.Panel--withImage .Panel-title {
  display: inline;
}
