/** @define PostContainer */

.PostContainer {
  display: flex;
  min-height: 100vh;
}

.PostContainer.is-enteringStageRight {
  animation: enterRight 0.5s;
}
.PostContainer.is-exitingStageRight {
  animation: exitRight 0.5s forwards;
}


.PostContainer-leftCol {
  flex: 1;
}

.PostContainer-rightCol {
  display: none;
  flex: 0 8.75rem;
}

@media all and (min-width: 1000px) {
  /* desktop */
  .PostContainer-rightCol {
    display: block;
  }
} 