/** @define PostContainer */

.PostContainer {
  display: flex;
  min-height: 100vh;
}

.PostContainer-leftCol {
  flex: 1;
}

.PostContainer-rightCol {
  display: none;

  @media (--lg-viewport) {
    display: block;
    flex: 0 10rem;
    margin-left: 1rem;
  }
}
