/** @define SingleFile */

.SingleFile {
  position: relative;
  margin-bottom: 1rem;
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: 4px;
  overflow: hidden;
}

.SingleFile-title {
  font-size: 0.75rem;
  padding: 0.5rem;
}

.SingleFile-image {
  display: block;
  width: 100%;
}

.SingleFile-delete {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;

  border: none;
  border-radius: 4px;
  color: var(--color-white);
  background-color: rgba(0,0,0,0.75);
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.5s;
}
.SingleFile:hover .SingleFile-delete {
  opacity: 1;
}
