<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /


RewriteCond %{THE_REQUEST} DELETE
RewriteRule ^uploads/(_temp|\d+)/(.+)$ /_php/ajax/uploads.php?post_id=$1&filename=$2 [L]

#GET & POST upload index
RewriteRule ^uploads/(_temp|\d+)/?$ /_php/ajax/uploads.php?post_id=$1 [L]

RewriteRule ^ajax/markdown$ /_php/ajax/markdown.php [L]
RewriteRule ^about$ /about.php [L,QSA]
RewriteRule ^([\w-]+)$ /section.php?section=$1 [L,QSA]
RewriteRule ^([\w-]+)/new$ /input.php?new=true&section=$1 [L]
RewriteRule ^([\w-]+)/([\w-]+)$ /post.php?section=$1&page=$2 [L,QSA]
RewriteRule ^([\w-]+)/([\w-]+)/edit$ /input.php?edit=true&section=$1&page=$2 [L]

RewriteCond %{QUERY_STRING} ^(.+)$
RewriteCond %{QUERY_STRING} !^(content_only=)
RewriteRule ^$ /search.php [L]

RewriteRule ^$ /index.php? [QSA]

</IfModule>
