
:root {
  --font-sansSerif: "proxima nova";
  --font-serif: "serif";

  --color-white: #FFF;
  --color-black: #000;

  --color-brand: #f14e32;
  --color-blue: #298EEA;
  --color-background: #f0efe7;
  --color-border: #EAEAEA;
  --color-codeBackground: #f7f7f7;
  --color-grey: #CCC;

/*
  --color-dark: #424242;
  --color-light: #FFFFEE; /* #F6F6EF; #EEE6CB; #F3F0E2; #EFEFE7;*
  --color-grey: #999999;
  --color-red: red;

  --color-card-border: #EAEAEA;

  --nav-width: 12rem;
*/
}