
:root {
  --font-sansSerif: "proxima nova", sans-serif;
  --font-serif: "serif";

  --color-white: #FFF;
  --color-black: #000;

  --color-brand: #f14e32;
  --color-blue: #298EEA;
  --color-background: #E9E5DE;
  --color-border: #EAEAEA;
  --color-codeBackground: #f7f7f7;
  --color-grey: #CCC;
}


  @custom-media --sm-viewport (min-width:321px);
  @custom-media --md-viewport (min-width:640px);
  @custom-media --lg-viewport (min-width:1080px);
